<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletTutorials</display-name>
  <servlet>
  	<servlet-name>VisitCounter</servlet-name>
  	<servlet-class>VisitCounter</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VisitCounter</servlet-name>
  	<url-pattern>/VisitCounter</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FirstServlet</servlet-name>
  	<servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SecondServlet</servlet-name>
  	<servlet-class>SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SecondServlet</servlet-name>
  	<url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  
</web-app>